*{
	margin:0;
	padding:0;
}

html, body{
	height:100%;
	margin:0;
	padding:0;
}

<<<<<<< HEAD
html{
	font-size: 14px
}

=======
>>>>>>> ab1dedd0e2f0b71b9d7e01ddd4c715c0e66c60af
.wrapper{
	min-height:100%;
	margin-bottom:-150px;
}

.buffer{
	height:150px;
}

<<<<<<< HEAD
.em-width{
	font-size: 2rem;
}

.product{
=======
div.product{
>>>>>>> ab1dedd0e2f0b71b9d7e01ddd4c715c0e66c60af
		float:left;
		width:33%;
}

footer{
	clear:both;
	height:150px;
	border:1px solid red;
	padding:50px 0px 0px 0px;
}