*{
	margin:0;
	padding:0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

p{
	margin-bottom: 10px;
}

html {
	font-family: helvetica, sans-serif;
	font-size: 14px;
}

html, body{
	height:100%;
	margin:0;
	padding:0;
}

.wrapper{
	min-height:100%;
	margin-bottom:-150px;
}

.buffer{
	height:150px;
	clear: both;
}

.clear{
	clear: both;
}

#cart{
	float: right;
}

.product{
	padding: 5px;

}

footer{
	clear:both;
	height:150px;
	border:1px solid red;
	padding:50px 0px 0px 0px;
}